<div class="example">
  <div class="box vertical">
    <div>
      <button class="success" (click)="approve(true)">Approve</button>
      <button class="danger" (click)="approve(false)">Reject</button>
    </div>
    <p>
      Your app has been
      <span *ngIf="isApproved">approved</span>
      <span *ngIf="!isApproved">rejected</span>
    </p>
  </div>
</div>

<div class="example">
  <div class="box vertical">
    <div>
      <button class="success" (click)="highligt('green')">Sucess</button>
      <button class="danger" (click)="highligt('red')">Danger</button>
      <button class="info" (click)="highligt('blue')">Info</button>
      <p
        [ngClass]="{
          green: highligtColor === 'green',
          'red-color': highligtColor === 'red',
          blue: highligtColor === 'blue'
        }"
      >
        Click any button to highlight me!
      </p>
    </div>
  </div>
</div>

<div class="example">
  <div class="content">
    <p>Numbers highlighted above are divisible by {{ chosenNumber }}</p>

    <div class="numbers">
      <div class="buttons">
        <button
          class="success"
          [ngClass]="{ active: chosenNumber === 2 }"
          (click)="calculate(2)"
        >
          Numbers divisible by 2
        </button>
        <button
          class="success"
          [ngClass]="{ active: chosenNumber === 3 }"
          (click)="calculate(3)"
        >
          Numbers divisible by 3
        </button>
        <button
          class="success"
          [ngClass]="{ active: chosenNumber === 5 }"
          (click)="calculate(5)"
        >
          Numbers divisible by 5
        </button>
        <button
          class="success"
          [ngClass]="{ active: chosenNumber === 10 }"
          (click)="calculate(10)"
        >
          Numbers divisible by 10
        </button>
        <button
          class="danger"
          [disabled]="isClearDisabled"
          (click)="calculate(1)"
        >
          Clear
        </button>
      </div>

      <div class="list">
        <div
          class="item"
          *ngFor="let number of numbers"
          [ngClass]="{
            highlight: number % chosenNumber === 0 && chosenNumber > 1
          }"
          [ngStyle]="{
            'font-weight':
              number % chosenNumber === 0 && chosenNumber > 1
                ? 'bold'
                : 'normal'
          }"
        >
          {{ number }}
        </div>
      </div>
    </div>
  </div>
</div>
